{% trans_default_domain 'ir_customer' %}

<div class="page-header">
    <h1>{{ 'address.new.title'|trans }}</h1>
</div>

<form action="{{ path('ir_customer_address_new') }}" {{ form_enctype(form) }} method="POST" novalidate>
    {% include 'IRCustomerBundle:Address:form.html.twig' %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ 'address.new.save'|trans }}</button>
        <a href="{{ path('ir_customer_address_list') }}" class="btn">{{ 'address.new.cancel'|trans }}</a>          
    </div>         
</form>