{% trans_default_domain 'ir_customer' %}

<div class="page-header">
    <h1>{{ 'admin.customer.show.title'|trans }}</h1>
</div>  

<div class="well well-sm">
    <a href="{{ path('ir_customer_admin_customer_edit', {'id': customer.id}) }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-edit"></i> {{ 'admin.customer.action.edit'|trans }}
    </a>
    <a href="{{ path('ir_customer_admin_customer_delete', {'id': customer.id}) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i> {{ 'admin.customer.action.delete'|trans }}
    </a>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'admin.customer.show.general_info'|trans }}
    </div>

    <table class="table table-bordered">
        <colgroup>
            <col width="25%" />
            <col width="75%" />
        </colgroup>           
        <tbody>
            <tr>
                <td>{{ 'admin.customer.email'|trans }}</td>
                <td>{{ customer.email }}</td>
            </tr>    
            <tr>
                <td>{{ 'admin.customer.enabled'|trans }}</td>
                <td>
                    <i class="glyphicon glyphicon-{{ customer.enabled ? 'ok' : 'remove' }}"></i>  
                </td>
            </tr>                
            <tr>
                <td>{{ 'admin.customer.last_login'|trans }}</td>
                <td>{{ customer.lastLogin|date }}</td>
            </tr> 
            <tr>
                <td>{{ 'admin.customer.created_at'|trans }}</td>
                <td>{{ customer.createdAt|date }}</td>
            </tr>         
        </tbody>
    </table>
</div>