{% trans_default_domain 'ir_customer' %}

<div class="page-header">
    <h1>{{ 'customer.new.title'|trans }}</h1>
</div>

<form action="{{ path('ir_customer_new') }}" {{ form_enctype(form) }} method="POST" novalidate>
    {% include 'IRCustomerBundle:Customer:form.html.twig' %}
    <div>
        <button type="submit" class="btn btn-primary">{{ 'customer.new.save'|trans }}</button>
        <a href="{{ app.request.headers.get('referer') }}" class="btn">{{ 'customer.new.cancel'|trans }}</a>          
    </div>         
</form>